<div id="<%= dom_id recipe %>">
  <p>
    <strong>Título:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Ingredientes:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Instrucciones:</strong>
    <%= recipe.instructions %>
  </p>

</div>
